body {
    margin: 0;
    padding: 0;
    background: #1F2937;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-container {
    width: 1000px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    
}

.green-text {
    color: #4ADF86;
}

p,
button,
#one,
#two {
    font-size: 18px;
}

button {
    background: #4ADF86;
    color: #1F2937;
    padding: 10px 10px;
    margin: 15px 0;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.line {
    border: 1px solid #273549;
        margin: 30px 0;
}

.generated {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.password-box {
    display:flex;
    flex-direction: column;
    gap: 10px;
    
}

#one,
#two {
    color: #4ADF86;
    background: #273549;
    border-radius: 15px;
    padding: 15px;
    color: #4ADF86;
    border: none;
    text-align: center;
}

.options {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.checkbox-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-div label {
    margin-left: 10px;
    color: aliceblue;
}